.navbar-container {
  position: relative;
  width: 80%;
  margin: auto;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
}

.first {
  z-index: 3; /* Front image is on top */
  margin-top: 4px;
  margin-left: -56px;

}

.second {
  z-index: 2; /* Behind the front image */
  transform: translateX(-50%);
  margin-top: 60px;
  margin-left: 321px;
}
.third{
  z-index: 1;
  margin-top: 120px;
  margin-left: 160px;

}

.back-image:nth-child(2) {
  transform: translateX(50%);
}
.back-image:nth-child(3) {
  transform: translateX(50%);
}



@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/* Use the font in your CSS classes */
.myClass {
  font-family: 'Poetsen One', sans-serif;
  /* Other styles */
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poetsen+One&display=swap');

.secondclass {
  font-family: 'Acme', sans-serif;
  /* Other styles */
}

.bgbg{
  background-color: white !important;
  padding: 12px;
}